.homepage-container {
    padding: 0 32px;
}

.homepage-hero-section {
    display: flex;
    flex-direction: row;
    height: 420px;
    padding: 20px 120px;
}

.main-hero-text {
    width: 70%;
}

.main-hero-img {
    width: 30%;
}

.main-about-section {
    display: flex;
    flex-direction: row;
    padding: 20px 120px;
}

.main-about-img {
    width: 30%;
}

.main-about-text {
    width: 70%;
    padding-left: 32px;
}